*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background: rgb(243, 215, 183);
}
.container{
    max-width: 1340px;
    width: 100%;
    margin: 0px auto;
    padding-top: 22px;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}
.nav__link{
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.nav__item{
    color: rgb(51, 51, 51);
font-family: "Roboto";
font-size: 12px;
font-weight: 700;
line-height: 14px;
letter-spacing: 1px;
text-align: left;
text-transform: uppercase;
cursor: pointer;
}

.text__container{
    width: 464px;
    padding-bottom: 257px;
    /* padding-top: 130px; */
}
.hero{
    background: rgb(243, 215, 183);
}
.hero__title{
    color: rgb(0, 0, 0);
font-family: "Roboto";
font-size: 64px;
font-weight: 700;
line-height: 75px;
letter-spacing: 0px;
text-align: left;
}
.hero__mintitle{
    color: rgb(0, 0, 0);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 75px;
}
.content__hero{
    display: inline-flex;
     align-items: center;
     justify-content: space-between;
     position: relative;
     padding-top: 130px;
}
.hero__picture{
    position: absolute;
    top: 130px;
    left: 730px;
}
.hero__minpicture{
    position: absolute;
    top: 25px;
    left: 630px;
    transform: rotate(-25deg);
animation: rotate 5s linear infinite;
}
@keyframes rotate {
        from {
          transform: rotate(0deg); 
        }
        to {
          transform: rotate(360deg);
        }
      }
.content__wrapper{
    display: flex;
    align-items: center;
    gap: 318px;
    padding-top: 160px;
    padding-bottom: 216px;
}
.wrapper__text{
    color: rgb(51, 51, 51);
font-family: "Roboto";
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0px;
text-align: left;
}
.wrapper__title{
    padding-bottom: 64px;
    color: rgb(0, 0, 0);
font-family: "Roboto";
font-size: 48px;
font-weight: 700;
line-height: 56px;
letter-spacing: 0px;
text-align: left;
}
.second__name{
    color: rgb(255, 255, 255);
font-family: "Roboto";
font-size: 50px;
font-weight: 700;
line-height: 59px;
letter-spacing: 0px;
text-align: left;
padding-top: 102px;
padding-bottom: 28px;
}
.second__text{
    color: rgb(255, 255, 255);
font-family: "Roboto";
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0px;
text-align: left;
padding-bottom: 105px;
}
.second{
    background: rgb(201, 155, 103);
}
.content__second{
    display: flex;
    align-items: center;
    gap: 318px;
    position: relative;
}
.second__section__picture{
    position: absolute;
    top: -160px;
    right: 0px;
}

footer{
    background-color: rgb(243, 215, 183);
}
.footer__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0px;
    background-color: rgb(243, 215, 183);
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
}
.footer_list{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 40px;
}
.footer_item{
    color: rgb(51, 51, 51);
font-family: "Roboto";
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 1px;
text-align: center;
text-transform: uppercase;
cursor: pointer;
}
.follow__list{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px;
}
.footer__link{
text-decoration: none;
color: rgb(51, 51, 51);
}
.facebook:hover{
    background-color: skyblue;
}
.insta:hover{
    background-color: red;
    border-radius: 10px;
}